* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,body{
      height: 100%;
      width: 100%;
  }
  
  .container{
      background-color: aquamarine;
      padding: 20px;
      margin: 20px;
  }
  
  #link{
      background-color: greenyellow;
      padding: 5px 10px;
      border: 1px solid black;
      border-radius: 5px;
      color: black;
      text-decoration: none;
  }