*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* position: relative; */
    height: 600px;
    width: 600px;
    background-color: aquamarine;
}

.ball{
    position: relative;
    top: 520px;
    height: 80px;
    width: 80px;
    background-color: red;
    border-radius: 50%;
   /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: run 3s  ease-out 1s infinite  alternate backwards,
               fun 3s  ease-out 1s infinite  alternate backwards ;
}

@keyframes run {
    from {
        transform: translate(0px);
    }
        to {
            transform: translateY(-680px);
        }

    }
@keyframes fun {
    from {
      
    }
        to {
            transform: translateX(120px);
        }
}